<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="name">MOBILE NAME;</label>
        <input type="text" id="name" name="mob_nam"><br><br>

        <label for="ram"> RAM;</label>
        <input type="text" id="ram" name="mob_ram"><br><br>

        <label for="price">PRICE;</label>
        <input type="number" id="price" name="mob_price"><br><br>

        <label for="image">MOBILE IMAGE;</label>
        <input type="text" id="image" name="mob_img"><br><br>

        <input type="submit" value="submit">
    </form>
    {{store}}
</body>
</html>