<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <nav class="nav-top-page">
        <div class="nav-left-page">
            <img src="/static/flipkart-logo.png" alt="">
            <input type="text" placeholder="Search products,Brands and more">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
        </div>
        <div class="nav-right-page">
        
          
            <h3>  &nbsp;more
                <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon></h3>
            <h3><iconify-icon class="nav-icon" icon="mdi:cart-outline"></iconify-icon> &nbsp;cart</h3>
            <h3> <iconify-icon class="nav-icon" icon="pepicons-pencil:dots-y"></iconify-icon></h3>
        </div>
    </nav>
  

    <form method="post">
       
        <input  placeholder="Enter the name of product"  class="sign-input"  type="text"name="name"><br><br>

       
        <input  placeholder="Enter the price of product"  class="sign-input"  type="text" name="price"><br><br>


   
        <input  placeholder="Enter the additional information"  class="sign-input"  type="text" name="ram"><br><br>


       
        <input placeholder="uplaod the file"  class="sign-input"  type="file" name="image"><br><br>

        
        <input  placeholder="Enter the quantity"  class="sign-input"  type="number" name="quantity"><br><br>

        <input  class="sign-btn"  type="submit"value="submit"><br><br>
        <input  class="sign-btn"  type="reset"value="reset">

    </form>


    <footer  class="">
        <div class="flex-div">
        <div  class="about1       flex-div">
            <div>
            <h6>ABOUT</h6>
            <div><small><small> Contact us</small></small></div>
            <div><small><small> About us</small></small></div>
            <div><small><small> Careers</small></small></div>
            <div><small><small> Flipkart Stories</small></small></div>
            <div><small><small> Press</small></small></div>
            <div><small><small>  Flipkart Wholesale</small></small></div>
            <div><small><small>  Clearstrip</small></small></div>
            <div><small><small> Corporate Information</small></small></div>
        </div>
        <div>
            <h6>HELP</h6>
            <div><small><small> Payment</small></small></div>
            <div><small><small>Shipping </small></small></div>
            <div><small><small> Cancellation & Returns</small></small></div>
            <div><small><small> FAQ</small></small></div>
            <div><small><small> Report Infringement</small></small></div>
        </div>
        <div>
            <h6>CONSUMER POLICY</h6>
            <div><small><small> Cancellation & Returns</small></small></div>
            <div><small><small> Terms OF Use</small></small></div>
            <div><small><small> Security </small></small></div>
            <div><small><small> Privacy</small></small></div>
            <div><small><small> Sitemap</small></small></div>
            <div><small><small> Grievance Redressal</small></small></div>
            <div><small><small> EPR Compliance</small></small></div>
        </div>
    
        <div>
            <h6>SOCIAL</h6>
            <div><small>Facebook</small></div>
            <div><small>Twitter </small></div>
            <div><small>YouTube</small></div>
        </div>
    </div>
        <div class="about2  flex-div">
            <div>
                <h6>Mail Us</h6>
                <div> <small><small>Flipkart Internet Private Limited,<br>
                    Buildings Alyssa, Begonia & <br>
                    Clove Embassy Tech Village, <br>
                    Outer Ring Road, Devarabeesanahalli Village, <br>
                    Bengaluru, 560103, <br>
                    Karnataka, India</small></small></div>      
            </div>
            <div>
                <h6>Register Office Address</h6>
                <div><small><small>Flipkart Internet Private Limited, <br>
                    Buildings Alyssa, Begonia & <br>
                    Clove Embassy Tech Village,<br>
                    Outer Ring Road, Devarabeesanahalli Village,<br>
                    Bengaluru, 560103,<br>
                    Karnataka, India <br>
                    CIN : U51109KA2012PTC066107 <br>              
                    Telephone: 044-45614700</small></small></div>
                     
            </div>
        </div></div>
        
    
        
        <div class="lastline-footer     flex-div">
            <h4><iconify-icon icon="iconamoon:shopping-bag-fill" style="color: yellow;" width="22" height="22"></iconify-icon>Become a seller</h4>
            <h4><iconify-icon icon="el:star-alt" style="color: yellow;" width="16" height="16" flip="horizontal"></iconify-icon>Advertise</h4>
            <h4> <iconify-icon icon="fa-solid:gift" style="color: yellow;" width="16" height="16" flip="horizontal"></iconify-icon>Gift Card</h4>
            <h4><iconify-icon icon="eva:question-mark-circle-fill" style="color: yellow;" width="16" height="16"></iconify-icon> Help Center</h4>
            <h4><iconify-icon icon="icon-park-outline:handle-c" style="color: yellow;"></iconify-icon>2007-2023 Flipkart.com</h4> 
            <img src="/static/Screenshot (550).png" alt="">  
        </div>
    
     </footer>    
</body>
</html>