<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="name">MOBILE NAME</label>
        <input type="text" id="name" name="name">

        <label for="ram">RAM</label>
        <input type="text" id="ram" name="ram">

        <label for="price">PRICE</label>
        <input type="text" id="price" name="price">

        <label for="image">MOBILE IMAGE</label>
        <input type="text" id="image" name="image">
        <input type="submit" value="submit">
    </form>
</body>
</html>